<div class="container">
  <h1 class="display-3">Add/Update User</h1>
  <form (ngSubmit)="processForm()">
    <div class="form-group">
        <input type="hidden" name = "id" class="form-control" [(ngModel)] = "user.id">
    </div>

    <div class="form-group">
      <label for="firstName">First Name</label>
        <input type="text" name = "firstName" required class="form-control" [(ngModel)] = "user.firstName">
    </div>

    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" name = "lastName" required class="form-control" [(ngModel)] = "user.lastName">
    </div>

    <div class="form-group">
      <label for="lastName">Mobile Number</label>
      <input type="text" name = "mobileNumber" required class="form-control" [(ngModel)] = "user.mobileNumber">
    </div>
  
    <input type="submit" value="Save" class="btn btn-success">
  </form>
</div>